venv/
*.pyc
backend/app/projects.json
backend/tests/tmp_workspace/
backend/app/webtop-work-space/
!backend/app/webtop-work-space/cache/filler.txt
!backend/app/webtop-work-space/spaces/description.txt
backend/dmbonbackend.log