version: '3.8'
services:
  app:
    build: .
    ports:
      - "6656:6656"
    volumes:
    #volumne comes from the c:\ drive
      - ~/.dmbon:/code/app/workspace
  frontend:
    build: ./frontend
    ports:
      - "8910:8910"
  
