version: '3.8'
services:
  app:
    build: .
    ports:
      - "6656:6656"
    volumes:
    #volumne comes from the c:\ drive
      - $HOME/.dmbon:/code/app/workspace
    env_file:
      - .env
  frontend:
    build: ./frontend
    ports:
      - "8910:8910"