.timeline-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  height: 100px;
}

.timeline-wrapper .middle-line {
  position: absolute;
  width: 80%;
  height: 5px;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  background: #1a94aa50;
}

.box {
  width: 25%;
  left: 8%;
  position: relative;
  min-height: 100px;
  float: left;
}

.box .icon {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: #eafbff;
  border: 2px solid #1a94aa;
}
.icon svg {
  font-size: 30px;
  color: #1a94aa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .active {
  background-color: #1a94aa;
}

.active svg {
  color: #fff;
}

/*make box where */
.statusmessage {
  border: 2px solid #1a94aa;
  border-radius: 5px;
  padding: 10px;
  background-color: #eafbff;
  color: #1a94aa;
  font-weight: bold;
  text-align: center;
}
