/*define constants here */
:root {
  --primary-color-table: #FFF;
  --secondary-color-table: #1a94aa50;
  --hover-color-table: #1a94aaAA;
  --primary-color-text: #000;
  --secondary-color-text: #fff;
  --border-color-table: #116270;
  --button-primary-color: #006582;
  --button-hover-color: #2c3e50;
}

.bg-vliz{
  background-color: var(--button-primary-color)!important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-width: 771px;
  }
ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 1rem 0 0 ;
}
h1 > a {
  text-decoration: none;
  color: black;
}
button, input, label, textarea {
  display: block;
  outline: none;
}
label {
  margin-top: 1rem;
}
.error {
  color: red;
}
input.error, textarea.error {
  border: 1px solid red;
}
.form-error {
  color: red;
  background-color: lavenderblush;
  padding: 1rem;
  display: inline-block;
}
.form-error ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}
.form-error li {
  display: list-item;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-between button {
  display: inline;
}

  /* striped .table_vliz with rounded borders and main color #6cb2c5 and secondary color #006582 */
.table_vliz {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--border-color-table);
  background-color: var(--primary-color-table);
  color: var(--primary-color-text);
  width: 90%;
  margin: auto;
}

/* .table_vliz rows and columns have borders between them with color #006582 */
.table_vliz > thead > tr {
  border-bottom: 3px solid var(--border-color-table);
  height: 40px;
}

/* .table_vliz is striped with color #5d9fb1 */
.table_vliz > tbody > tr:nth-child(odd) {
  background-color: var(--secondary-color-table);
}

/* row .table_vliz hover has color #5d9fb1 */
.table_vliz > tbody > tr:hover {
  background-color: var(--hover-color-table);
}

.button_vliz {
  background-color: var(--border-color-table);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 6px;
}

.button_vliz:hover {
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

.button_vliz:focus{
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

.button_vliz:active {
  transform: translateY(3px);
}

/* buttons in .table_vliz have color var(--border-color-table) */
.table_vliz > tbody > tr > td > button {
  background-color: var(--border-color-table);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-left: 5px;
  min-width: 50px;
  min-height:50px;
}

.table_vliz > tbody > tr > td > a > button {
  background-color: var(--border-color-table);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  min-width: 50px;
  min-height:50px;
}

.table_vliz > tbody > tr > td > a > button:hover {
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

.table_vliz > tbody > tr > td > a > button:focus {
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

/* buttons in .table_vliz hover have color var(--button-hover-color) and a shadow*/
.table_vliz > tbody > tr > td > button:hover {
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

.table_vliz > tbody > tr > td > button:focus {
  background-color: var(--button-hover-color);
  color: white;
  box-shadow: 0px 0px 5px var(--button-hover-color);
}

/* links in .table_vliz have color var(--button-hover-color) when focussed and hovered over*/
.table_vliz > tbody > tr > td > a:hover {
  color: var(--button-hover-color);
}
.table_vliz > tbody > tr > td > a:focus {
  color: var(--button-hover-color);
}

/*buttons in .table_vliz have click animation as if pressed*/
.table_vliz > tbody > tr > td > button:active {
  transform: translateY(3px);
}

.table_vliz > thead > tr > th {
  border-bottom: 3px solid var(--border-color-table);
  border-left : 1px solid var(--border-color-table);
}

.table_vliz > tbody > tr > td {
  padding: 0.5rem;
  border-left: 1px solid var(--border-color-table);
}

.table_vliz > tbody > tr > td > input[type="text"] {
  width: 90%;
  border: 1px solid var(--border-color-table);
  border-radius: 5px;
  padding: 2px;
  margin: auto;
  margin-left: 5px;
  min-width: 50px;
  min-height:30px;
}

.table_vliz > tbody > tr > td > input[type="text"]:focus {
  border: 2px solid var(--primary-color-text);
  background-color: var(--border-color-table);
  color: var(--secondary-color-text);
}

.no-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}

/*links in .table_vliz have color white */
.table_vliz > tbody > tr > td > a {
  color: var(--primary-color-text);
}

.table_vliz > tbody > tr {
  border-bottom: 1px solid var(--border-color-table);
}

/* center page spinner */
.pageloader div {
  margin-left: auto;
  margin-right: auto;
}

.fullwidth {
  width: 100%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.searchbar > .input_folder > select {
  border: none;
  font-size: 1rem;
  text-align: left;
  width: 90%;
}

.searchbar > .input_search > input {
  border: none;
  font-size: 1rem;
  width: 90%;
}

.searchbar > .input_search  {
  display: flex;
  flex-direction: row;
  min-width: 49%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color-table);
  padding: 0.5rem;
  border-radius: 5px;
}

.searchbar > .input_folder  {
  display: flex;
  min-width: 49%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color-table);
  padding: 0.5rem;
  border-radius: 5px;
}

.searchbar > .input_search > svg {
  width: 2rem;
  height: 2rem;
  color: var(--border-color-table);
  border-right: 1px solid var(--border-color-table);
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.searchbar > .input_folder > svg {
  width: 2rem;
  height: 2rem;
  color: var(--border-color-table);
  border-right: 1px solid var(--border-color-table);
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.searchbar > .search_icon > svg {
  width: 2rem;
  height: 2rem;
  color: var(--border-color-table);
}

/* have each nth child of .metadata_file fade in with +20ms delay for each nth child*/
.metadata_file > * {
  animation: fadeIn 0.8s;
}

/* keyframes that have fade in left with blur */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
  }
}

.navigation_button {
  width: auto;
  margin: auto;
  background-color: #1a94aa50;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
  border: 2px solid #1a94aa;
  min-height: 70px;
  max-height: 70px;
  font-size: 1.5rem;
  color:#1a94aa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*center the icons */
.navigation_button div svg {
  color:#1a94aa;
  font-size: 50px;
  padding: 0.5rem;
}

.navigation_button:hover div svg {
  color: #fff;
}

.navigation_button:hover {
  background-color: #1a94aa;
  border: 2px solid #1a94aa;
  color: #fff
}

.wide {
  width: 98%;
}

.title_file_content {
  display: flex;
  flex-direction: row;
  max-height: 2rem;
}

.title_file_content > .row_navigation{
  max-width: 50%;
}

.title_file_content > p {
  margin: 0;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.row_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.action_button {
  width: auto;
  min-width: 5rem;
  margin-right: 0.2rem;
  background-color: #1a94aa50;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.2rem;
  border: 2px solid #1a94aa;
  font-size: 1.0rem;
  color:#1a94aa;
  white-space: nowrap;
}
/*center the icons */
.action_button div svg {
  color:#1a94aa;
  font-size: 20px;
}

.action_button:hover div svg {
  color: #fff;
}

.action_button:hover {
  background-color: #1a94aa;
  border: 2px solid #1a94aa;
  color: #fff
}

.file-diff {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.diff-header {
  font-size: 16px;
  padding: 5px 10px;
  line-height: 2;
  background-color: #fafbfc;
  border-bottom: 1px solid #ddd;
}

.hunk-header {
  background-color: #f0f8ff;
  color: #1b1f2380;
  padding: 5px 20px;
}
