fastapi
uvicorn
pydantic
gunicorn
requests
asyncio
aiohttp
GitPython
#rocrate
#-e git://github.com/ResearchObject/ro-crate-py.git#egg=rocrate
datetime
pytest
uuid
aiofiles
pyshacl
unidiff
importLib
SPARQLWrapper
pyshacl
#py-vocab-search
#-e git+ssh://gitlab.vliz.be/datac/openscience/py-vocab-search@master#egg=py-vocab-search
