.phantom {
    display: 'block';
    padding: '20px';
    height: '60px';
}

.vanish {
    background-color: "pink";  
    border-top: "1px solid #E7E7E7";
    text-align: "center";
    padding: "20px";
    position: "fixed";
    left: "0";
    bottom: "0";
    height: "60px";
    width: "68%";
    display: "none";
    margin-left: "16%";
}

.socialitem {
    color:#ccd2d4;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 3em;
    align-items: center;
}

.socialbanner {
    height: 10vh;
    min-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.socialitem:hover {
    color:#006582;
    transform: scale(2);
    transition: 0.7s;
}

.busy
{
    position: absolute;
    left: 40%;
}