.bluebar {
    background-color: #6cb2c5;
    color:white;
    padding: 5px;
    margin:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bluebar_button {
    background-color: #6cb2c5;
    color:white;
    padding: 5px;
    margin:auto;
}

.activito {
    background-color: #2c3e50;
    border-radius: 10px;
}

.bluebar_button:hover {
    background-color: #006582;
    color:white;
    padding: 5px;
    margin:auto;
    border-radius: 10px;
}

#bluebar_dropdown {
    background-color: #6cb2c5;
    color:white;
    padding-top: 12px;;
    margin:auto;
    border: none;
}

#bluebar_dropdown:hover {
    background-color: #006582;
    color:white;
    border: none;
}

#bluebar_dropdown:focus {
    background-color: #006582;
    color:white;
    border: none;
    box-shadow: 0px 0px 5px #2c3e50;
}

#bluebar_dropdown:active {
    background-color: #2c3e50;
    color:white;
    border: none;
    box-shadow: 0px 0px 5px #2c3e50;
}

.darkborder {
    border: 1px solid #2c3e50;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.custom-shape-divider-bottom-1649755521 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649755521 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1649755521 .shape-fill {
    fill: #6CB2C5;
}