.info_graph {
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 1%;
    padding: 1%;
}

/* have card that pops out when hovered over and that has a min width of 320px /3 */
.card_td {
    padding: 10%;
    min-width: 105px;  
    aspect-ratio: 1/1;
    border: 2px solid #2c3e5055;
    border-radius: 20px;
    background-color: #91cedf33;
}

.card_td:hover {
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #2c3e5055, 0 6px 20px 0 #2c3e5055;
    background-color: #91cedf55;
}

.card_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
}

/* class that will display checkmark svg */
.checkmark {
    background-image: url('../static/checkmark-circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    animation: grow_in 0.8s ease-in-out;
}

.cross-red {
    background-image: url('../static/cross-circle-red.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    animation: grow_in 0.8s ease-in-out;
}

/* animation for checkmark svg to translate downwards */
.cross-red:hover {
    animation: grow_out 0.3s ease-in-out;
    background-size: 0;
}

.checkmark-orange:hover{
    animation: grow_out 0.3s ease-in-out;
    background-size: 0;
}

.checkmark:hover{
    animation: grow_out 0.3s ease-in-out;
    background-size: 0;
}

.cross-orange {
    background-image: url('../static/cross-circle-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    animation: grow_in 0.8s ease-in-out;
}
.checkmark-orange {
    background-image: url('../static/checkmark-circle-orange.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    animation: grow_in 0.8s ease-in-out;
}

.git {
    background-image: url('../static/git-svgrepo-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.git:hover {
    background-image: url('../static/git-svgrepo-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-position: 95% 7%;
    display: block;
}
/* have the checkmark in the top right corner of the card */
.git > div > div  {
    opacity: 0;
}

.git:hover > div > div {
    opacity: 1;
}

.ship {
    background-image: url('../static/oceanic-cargo-ship-global-distribution-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    color:#00AA7b;
}

.ship:hover {
    background-image: url('../static/oceanic-cargo-ship-global-distribution-dark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.ship-non-clickable {
    background-image: url('../static/oceanic-cargo-ship-global-distribution-light.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: default;
    pointer-events: none;
    color:#aa4545;
}

a {
    text-decoration: none;
}
/*make animation that will alternate opacity and backgrouund size when hovered over */
@keyframes grow_out {
    0% {
        background-size: 40%;
    }
    100% {
        background-size: 0%;
    }
}

@keyframes grow_in {
    0% {
        background-size: 0%;
    }
    100% {
        background-size: 40%;
    }
}

.git-status-container {
    border-radius: 20px;
    height: 25vw;
    max-height: 40vh;
}

.git-status-message {
    padding: 10%;
    text-align: center;
    color: black;
    text-decoration: none;
}
  





