/*class where all items are on one row with a border and padding and margin, have text and items in center*/
.taskrow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*have child p of taskrow be aligned center and have text bold*/
.taskrow > p {
    margin: auto;
    vertical-align: middle;
}

.success {
    background-color: #4caf4f50;
    border: 1px solid #4CAF50;
}

.success > p {
    color: green;
    font-weight: bold;
}

.error {
    background-color: #f4433650;
    border: 1px solid #f44336;
}

.error p {
    color: red;
    font-weight: bold;
}

.running {
    background-color: #ff980050;
    border: 1px solid #ff9800;
}

.running p {
    color: orange;
    font-weight: bold;
}

.pending {
    background-color: #00668250;
    border: 1px solid #006582;
}

.pending p {
    color:  #006582;
    font-weight: bold;
}