.sidebar {
    height: 100vh;
    min-width: 250px;
    min-height: 600px;
    background-color: #FFF;
    width: 20%;
    margin-right: 10px;
}

.canvas_profile {
    height: 100%;
    min-height: 100vh;
    background-color: #FFF;
    width: 78%;
    position: relative;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

.workspace_draggable_edits {
    display: flex;
    position: relative;
    overflow: auto;
}

.dragbutton {
    margin: auto;
    margin-top: 10px;
    padding: 3px;
    width: 90%;
}

.dragelement {
    background-color: #aaa;
    padding: 3px;
    width: 20%;
}