fastapi
uvicorn
pydantic
gunicorn
requests
validators
asyncio
aiohttp
GitPython
rocrate
datetime
pytest
uuid
aiofiles
pyshacl
unidiff
#importLib
SPARQLWrapper
pyshacl
python-dotenv
numpy
#py-vocab-search
#-e git+ssh://gitlab.vliz.be/datac/openscience/py-vocab-search@master#egg=py-vocab-search
#-e git://github.com/ResearchObject/ro-crate-py.git#egg=rocrate
