.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    border-radius: 0.25rem;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}
.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
  }

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
}

.left {
    flex: 1;
}

.active {
    background-color: #1a94aa50;
    border-radius: 5px;
}


.hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
.hamburger:hover {
    background-color: #2642af;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .navigation-menu.expanded ul {
      display: block;
    }
  }

@media screen and (max-width: 768px) {
    .navigation-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 77px);
        border-top: 1px solid black;
        z-index: 1;
    }
    .navigation-menu li {
        width: 100%;
        margin-left: -0.5rem;
        background-color: white;
    }

    .navigation-menu li :hover {
        font-size: 45px;
        color: #283b8b;
        background-color: aliceblue;

    }

    .navigation-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
