.Axios_error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #a94442;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-left: 5px;
  min-width: 250px;
  min-height:150px;
}

.Axios_error a {
  color: #a94442;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
}

.Axios_error a:hover  {
  color: blue;
}

.Axios_error a:focus {
  color: blue;
}

/*cut off long text*/
.Axios_error p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
