.component {
  width: 100%;
  min-width: 450px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}

.component .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}
